<div class="wrapper">
	<div class="content">
		<div class="first-screen header__top">

            <section class="header">
                <div class="container">
                    <div class="header__wrap">
                        <a href="/" class="header__logo">
                            <img src="/template/img/logo1.png" alt="" />
                        </a>
                        <div class="burger-wrap">
                            <div class="burger"></div>
                        </div>
                        <ul class="header__navigation">
                            <li><a href="/">{{{translate("Land.Services")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Products")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Portfolios")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Articles")}}}</a></li>
                            <li><a href="/">{{{translate("Land.Stores")}}}</a></li>
                        </ul>
                        <div class="header__btns-wrap">
                            <a
                                href="/manage/profile"
                                class="header__btns-profile"
                            >
                                <img src="/template/img/icons/profile.svg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            

			<section class="welcome">
				<div class="welcome__circle-first">
					<img src="template/img/circle.png" class="circle-anim" alt="">
					<div class="welcome__circle-second">
						<img src="template/img/circle.png" class="circle-anim-second" alt="">
					</div>
				</div>
				<div class="container">
					<div class="welcome__title">
						{{{translate("Land.EWAWKA")}}}
					</div>
					<div class="welcome__description">
						{{{translate("Land.Discover the healthcare revolution with Ewawka - your all-in-one platform for all your medical needs. Our brand, Ewawka, is committed to providing a comprehensive solution for all your healthcare requirements. Whether you're seeking medical advice, looking for the best healthcare professionals, or searching for information on various medical conditions, Ewawka has got you covered. We also offer a range of services to help you maintain and improve your health, so you can lead a healthier and happier life. With Ewawka, you can easily access medical information and make informed decisions about your health. Plus, you can find all the necessary resources and products you need to support your well-being right here on our platform. Experience the future of healthcare with Ewawka today!")}}}
					</div>
				</div>
			</section>
		</div>
		<!-- <section class="services">
			<div class="container">
				<div class="services__main-title global-title">
					{{{translate("Land.OUR")}}} <span>{{{translate("Land.SERVICES")}}}</span>
				</div>
				<div class="services__list">
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/1.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Family doctor")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the ability to find the services of a family doctor and medical consultants that meet their needs for general health and health care for the whole family.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/2.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Cardiology")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the ability to find the services of a cardiologist and cardiology medical consultant that meets their heart and vascular health needs to provide the highest level of medical care.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/3.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Otolaryngologist")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users can find otolaryngology (ENT) and otolaryngology medical consultants that meet their ear, throat and nose health needs to provide competent medical care and advice.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/4.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Pediatrics")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the ability to find pediatricians and pediatric medical consultants who meet their child health needs and provide qualified medical care for young patients.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/5.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Laboratory")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the opportunity to find the services of a laboratory and medical consultants for laboratory diagnostics that meet their needs in conducting various tests and studies for accurate diagnosis and monitoring of their health.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/6.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Dentistry")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the ability to find dentist services and dental health consultants that meet their dental health needs and provide quality dental care services and oral health advice.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/7.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Allergology")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the opportunity to find the services of an allergist and medical allergology consultants who meet their needs in matters of allergic reactions and provide effective methods of diagnosis and treatment of allergic diseases.")}}}
							</div>
						</div>
					</div>
					<div class="services__wrap">
						<div class="services__item">
							<div class="services__img">
								<img src="template/img/services/8.png" alt="">
							</div>
							<div class="services__title">
								{{{translate("Land.Ultrasound diagnostics")}}}
							</div>
							<div class="services__description">
								{{{translate("Land.Users have the ability to find ultrasound diagnostic services and ultrasound medical consultants that meet their ultrasound needs and provide quality medical information for accurate diagnosis of various diseases and conditions of the body.")}}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<section class="about-us">
			<div class="about-us__img">
				<img src="template/img/about.jpg" alt="">
			</div>
			<div class="container">
				<div class="about-us__title global-title">
					{{{translate("Land.ABOUT")}}} <span>{{{translate("Land.US")}}}</span>
				</div>
				<div class="about-us__description">
					<p>
						{{{translate("Land.Meet the knowledgeable and dedicated team at Ewawka, a healthcare platform that is transforming the way healthcare is delivered. Our team is comprised of highly skilled medical, technology and patient care professionals who work together to provide the highest quality healthcare for our clients.")}}}
					</p>
					<p>
						{{{translate("Land.Each member of our team brings a unique experience and passion to medicine, and we are proud to have assembled a group of experts who are passionate about improving the state of health care. Whether you need a doctor's consultation, medical procedure or other healthcare service, our team is always ready to help.")}}}
					</p>
					<p>
						{{{translate("Land.Discover the opportunity to learn more about each member of our team and see why Ewawka is the medical platform you can trust for the best healthcare and patient care.")}}}
					</p>
				</div>
				<div class="about-us__btn">
					<a href="/team" class="btn">
						{{{translate("Land.MEET THE TEAM")}}}
					</a>
				</div>
			</div>
		</section>
		
		<!-- <section class="l-product">
			<div class="container">
				<div class="l-estate__main-title global-title">
					BUY <span>DRUGS</span>
				</div>
				<div class="product__list">
					{% for product in topProducts %}
					<div class="product__wrap">
						
						<div class="product__item">
							<div class="product__img">
								<img src="{{{product.thumb}}}" alt="" />
							</div>
							<div class="product__title">
								{{{product.name}}}
							</div>
							<pre class="product__description">{{{product.short}}}</pre>
							<div class="product__btn-wrap">
								<a href="/product/{{{product.url || product.id}}}" class="product__btn-heart product__btn-heart--first">
									<span>OPEN</span>
								</a>
								<a href="" class="product__btn-heart product__btn-heart--second">
									<img src="/template/img/icons/cart.svg" alt="" />
								</a>
								<a href="" class="product__btn-heart">
									<img src="/template/img/icons/heart.svg" alt="" />
								</a>
							</div> 
						</div>
						
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		 -->
		<div class="photo-wrap">
			<section class="l-article">
				<div class="container">
					<div class="global-title articles__land-title">
						OUR <span>ARTICLES</span>
					</div>
					<div class="articles__list">
						{% for article in topArticles %}
						<a class="articles__wrap" href="/article/{{{article.id}}}">
							<div class="articles__item">
								<div class="articles__img">
									<img src="{{{article.thumb}}}" alt="{{{article.name}}}" />
								</div>
								<div class="articles__title">{{{article.name}}}</div>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</section>
		</div>

		<div class="container">
			<div class="global-title articles__land-title">
				MANA<span>GERS</span>
			</div>
		<section class="order-manager">
			{% for agent in agents %}
				<div class="order_agent">
				<img src="https://webart.work{{{agent.thumb}}}" alt="" width="300px">
				<h3>{{{agent.name}}}</h3>
				{% if agent.data.phone %}
					<a href="tel:{{{agent.data.phone}}}">{{{agent.data.phone}}}</a>
				{% endif %}
			</div>
			<div class="order">
			{% for experience in agent.experiences %}
			<span title="{{{experience.descriptionua}}}">
			  <p>Послуга: {{{experience.nameua}}}</p>
			  {% if experience.pricehourlyuah %}
			  <p>Ціна:{{{experience.pricehourlyuah}}} грн/год.</p>
			  {% endif %}
			  {% endfor %}
			</span>
			</div>
			{% endfor %}
		  </section>
		</div>

	<div class="container">
		<div class="global-title articles__land-title">
				P<span>LAN</span>
			</div>
	<div class="slider-container">
		   <div class="slider-content">
			  <div class="slide">
			<div class="slide_text">Minor Sponsor</div>
			<div class="slide_text">500$ <br />per month</div>
			<div class="slide_text">Hire Part Time Developer</div>
			<button>Start</button>
			</div>
			  <div class="slide">
			<div class="slide_text">Minor Sponsor</div>
			<div class="slide_text">2000$ <br />per month</div>
			<div class="slide_text">Hire Full Time Developer</div>
			<button>Start</button>
			</div>
			<div class="slide">
			<div class="slide_text">Partner</div>
			<div class="slide_text">Donation </div>
			<div class="slide_text">Add Feature</div>
			<button>Donate</button>
			</div>
			<div class="slide">
			<div class="slide_text">Minor Sponsor</div>
			<div class="slide_text">500$ <br />per month</div>
			<div class="slide_text">Hire Part Time Developer</div>
			<button>Start</button>
			</div>
			  <div class="slide">
			<div class="slide_text">Minor Sponsor</div>
			<div class="slide_text">2000$ <br />per month</div>
			<div class="slide_text">Hire Full Time Developer</div>
			<button>Start</button>
			</div>
			<div class="slide">
			<div class="slide_text">Partner</div>
			<div class="slide_text">Donation </div>
			<div class="slide_text">Add Feature</div>
			<button>Donate</button>
			</div>
		</div>
  </div>
 </div>

		<div class="container">
			<form class="meeting">
				<label for="name">Your name:</label><br>
				<input type="text" id="name" name="name"><br><br>
				<label for="number">Your number:</label><br>
				<input type="number" id="number" name="number"><br><br>
				<label for="email">Your email:</label><br>
				<input type="email" id="email" name="email"><br><br>
				<label for="message">Message:</label><br>
				<textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
				<button type="submit" value="Submit">Submit</button>
			  </form>
			</div>
		</section>
		<!-- <section class="partners">
			<div class="container">
				<div class="partners__main-title global-title">
					OUR <span>PARTNERS</span>
				</div>
				<div class="partners__list">
					<div class="partners__wrap">
						<div class="partners__item">
							<div class="partners__img">
								<img src="/template/img/articles.png" alt="">
							</div>
							<div class="partners__text">
								<div class="partners__title">
									Lorem ipsum title
								</div>
								<div class="partners__desription">
									Description information partner
								</div>
							</div>
						</div>
					</div>
					<div class="partners__wrap">
						<div class="partners__item">
							<div class="partners__img">
								<img src="/template/img/articles.png" alt="">
							</div>
							<div class="partners__text">
								<div class="partners__title">
									Lorem ipsum title
								</div>
								<div class="partners__desription">
									Description information partner
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!--	
		<section class="download">
			<div class="container">
				<div class="download__wrap">
					<div class="download__text">
						<div class="download__title global-title">
							{{{translate("Land.USE OUR")}}} <span>{{{translate("Land.APP")}}}</span>
						</div>
						<div class="download__description">
							{{{translate("Land.If you're looking for a convenient, personalized, and fast way to access information and perform tasks related to real estate, then the Neryxomka mobile app is the way to go. Our app provides a seamless experience that is designed to make your life easier, no matter where you are. With the Neryxomka app, you can access the latest properties, get personalized recommendations, and perform common tasks like searching for properties or making payments with just a few taps. Plus, our app offers offline functionality, so you can access certain features and information even when you're not connected to the internet.")}}}

							{{{translate("Land.The Neryxomka app also offers a faster and more responsive experience, with quicker load times and smoother transitions between screens. And, with better integration with your mobile device's features, such as the camera or GPS, you'll get a more immersive experience. And, with push notifications, you'll never miss a beat. Our app is also designed to be fun and engaging, with gamification elements such as rewards, achievements, and leaderboards.")}}}

							{{{translate("Land.So why settle for a website when you can have all this and more at your fingertips with the Neryxomka mobile app? Download it now and experience the power of real estate, wherever you are!")}}}
						</div>
						<div class="download__btn">
							<a href="" class="btn">
								<img src="template/img/icons/load.svg" alt="">
								<span>ANDROID</span>
							</a>
							<a href="" class="btn">
								<img src="template/img/icons/load.svg" alt="">
								<span>IOS</span>
							</a>
						</div>
					</div>
					<div class="download__img">
						<img src="/template/img/load.png" alt="">
					</div>
				</div>
			</div>
		</section>
		-->
	</div>

    <div class="footer">
        <div class="container">
            <div class="footer__list">
                <div class="footer__wrap footer__wrap--first">
                    <a href="">
                        <img src="/template/img/logo.png" alt="" />
                    </a>
                    <div class="footer__text">
                        {{{translate("Land.Discover the powerful magic of medicine with Ewawka, your one-stop platform for all aspects of your health and medical needs. Our Ewawka brand offers comprehensive solutions for all your medical needs. Whether you're seeking a doctor's consultation, planning a medical procedure, or needing to improve your health, Ewawka can help you take the first step to better health. We also offer a wide range of services to help you maintain and improve your health so you can live life to the fullest. With Ewawka, you will have access to highly qualified medical professionals who are always ready to help you. We believe that health is the greatest treasure, and with Ewawka you can find answers to all your medical questions. Learn more about our team and how Ewawka can facilitate your journey to better health. Experience your own changes to protect your most valuable asset - your health - with Ewawka today!")}}}
                    </div>
                </div>
                <div class="footer__list-wrap footer__wrap">
                    <div class="footer__item">
                        <a class="footer__links-title" href="">{{{translate("Land.Ewawka")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Business Plan")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Wiki")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Who we are")}}}</a>
                    </div>
                    <div class="footer__item">
                        <a class="footer__links-title" href="/">{{{translate("Land.Products")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Tables")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Kitchen")}}}</a>
                    </div>
                    <div class="footer__item">
                        <a class="footer__links-title" href="/">{{{translate("Land.Services")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Custom Tables")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.Custom Kitchen")}}}</a>
                    </div>
                    <div class="footer__item">
                        <a class="footer__links-title" href="/">{{{translate("Land.Articles")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.New Kitchen Designs")}}}</a>
                        <a href="/" class="footer__link">{{{translate("Land.New Tables Designs")}}}</a>
                    </div>
                    <div class="footer__item">
                        <h3 class="footer__links-title">{{{translate("Land.Languages")}}}</h3>
                        <button class="footer__link" onclick="selectLanguage('en')">
                            English
                        </button>
                        <button class="footer__link" onclick="selectLanguage('ua')">
                            Українська
                        </button>
                    </div>
                </div>
                <div class="footer__wrap footer__wrap--last">
                    <div class="footer__wrap-socials">
                        <!-- <a href="" class="footer__btn btn">
                            <img src="/template/img/icons/v.svg" alt="" />
                        </a> -->
                        <a href="tel:+380960786786714" class="footer__btn btn">
                            <img src="/template/img/icons/viber.svg" alt="" />
                        </a>
                        <a href="https://t.me/neryxomka_news" target="_blank" class="footer__btn btn">
                            <img src="/template/img/icons/tg.svg" alt="" />
                        </a>
                        <a href="https://twitter.com/neryxomka" target="_blank" class="footer__btn btn">
                            <img src="/template/img/icons/twit.svg" alt="" />
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100090910920539" class="footer__btn btn">
                            <img src="/template/img/icons/face.svg" alt="" />
                        </a>
                        <a href="https://instagram.com/neryxomka?igshid=YmMyMTA2M2Y=" target="_blank" class="footer__btn btn">
                            <img src="/template/img/icons/inst.svg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>
		// JavaScript для руху слайдера
		let slider = document.querySelector('.slider-content');
		let slides = document.querySelectorAll('.slide');
		let slideWidth = slides[0].offsetWidth;
		let counter = 0;
	
		function moveSlide() {
		  counter++;
		  if (counter === slides.length) {
			counter = 0;
		  }
		  let offset = -slideWidth * counter;
		  slider.style.transform = `translateX(${offset}px)`;
		}
	
		setInterval(moveSlide, 2000); // Час між перемиканням слайдів (в мілісекундах)
	  </script>
    <script>
        function selectLanguage(lang) {
            fetch("/api/user/lang/" + lang, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    window.scrollTo(0, 0);
    
                    location.reload();
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }
    </script>
    

</div>
