<section class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="/" class="header__logo">
				<img src="/template/img/logo1.png" alt="" />
			</a>
			<div class="burger-wrap">
				<div class="burger"></div>
			</div>
			<ul class="header__navigation">
				<li><a href="/services">{{{translate("Land.Services")}}}</a></li>
				<li><a href="/drugs">{{{translate("Land.Drugs")}}}</a></li>
				<li><a href="/articles">{{{translate("Land.Articles")}}}</a></li>
				<li><a href="/stores">{{{translate("Land.Stores")}}}</a></li>
			</ul>
			<div class="header__btns-wrap">
				<a
					href="/manage/profile"
					class="header__btns-profile"
				>
					<img src="/template/img/icons/profile.svg" alt="" />
				</a>
			</div>
		</div>
	</div>
</section>
